@model CookWeb_Ver2.Data.StepsMakeRecipes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StepsMakeRecipes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StepCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StepCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StepNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StepNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StepName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StepName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Second)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Second)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipes.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                            <a asp-action="Index"><input type="button" asp-action="Index" value="Back" class="btn btn-secondary" /></a>
</div>
